body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 16px;
  margin-bottom: 0.2rem;
}

table {
  margin: 1rem;
  table-layout: fixed;
  width: 550px;
}

th,
td {
  padding: 10px;
}

.w {
  width: 250px;
}

.selector-container {
  display: flex;
  flex-flow: row;
}

.mutation-form {
  width: 250px;
}

$container-padding: 1rem;

.app-container {
  padding: 0 $container-padding;
  background-color: white;
}

.titlebar {
  position: sticky;
  top: 0;
  padding-top: $container-padding;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 3px solid darkslategray;
  background-color: white;
}

.wild-type {
  color: darkred;
}

.firstButton {
  width: 100%;
}

.generation-label {
  width: 250px;
}

.select-and-table {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.bold {
  font-weight: bold;
}
