
.selector-container {
	display: flex;
	flex-flow: row;
}

.mutation-form{
  width: 250px;
}

.app {
  display: flex;
  flex-flow: row wrap;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.wild-type {
  color: darkred;
}

.firstButton {
  width: 100%;
}

.results {
  flex-grow: 1;
}

.generation-label {
  width: 250px;
}

.select-and-table {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

table {
  margin: 1rem;
  table-layout: fixed;
  width: 350px;
}

th,
td {
  padding: 10px;
}

.text-button {
  border: none;
  background-color: white;
  color: black;
}

.bold {
  font-weight: bold;
}